<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Artist/Group Name", class: "form-control center-it" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <strong>Upload Image: </strong>
  </div>
  <div class="form-group">
    <%= f.file_field :avatar, class: "file-field" %>
  </div>
  <div class="form-group">
    <%= f.submit "Add Artist", class: "btn btn-warning" %>
  </div>
<% end %>
